.tmpl-home {
	display: flex;
	align-items: center;
	@media only screen and (max-width: 600px) {
		display: initial;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

.home-wrapper {
	max-width: 1600px;
	margin: 0 auto;
	@media only screen and (max-width: 960px) {
		padding-left: 4%;
		padding-right: 4%;
	}
}

.hero h1 {
	font-size: 6em;
	font-family: 'Trebuchet MS', Trebuchet MS, sans-serif;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: .15em;
	@media only screen and (max-width: 960px) {
		font-size: 5em;
	}
}

.hero p {
	font-size: 1.5em;
	margin-top: 0;
}
