.navbar{
  border-bottom: 1px solid #d8dde6;
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    max-width: 900px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    .nav-item {
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      padding: 0;
      a{
        color: var(--blue-one);
        border: none;
        &:before{
            background: var(--red-two);
            content: '';
            left: 0;
            max-width: 0;
            position: absolute;
            top: 0;
            transition: all .2s;
            width: 100%;
        }
      }
    }
    .nav-item a[href]:not(:hover) {
      text-decoration: none;
    }
    .nav-item-active {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}


.main-nav li:hover a:before,
.main-nav li.nav-item-active a:before{
    max-width: 100%;
    bottom: 0;
    left: 0%;
    height: 8px;
    top: auto;
}
