.tmpl-work{
  max-width: 1024px;
  margin: 5em auto;
}

.tmpl-work-listing{
  max-width: 1010px;
  margin: 5em auto;
}

.work-listing-item{
  margin-bottom: 8em;
}

.work-listing-item > a{
  display: block;
  text-decoration: none;
}

.work-listing-item a:hover img{
  opacity: .7;
}

.work-listing-item a:hover h2{
  color: var(--red-one);
}

// .work-listing-item img{
//   display: block;
//   margin: 0 auto;
// }

// .single-work-item ol{
//   margin-left: 20px;
// }

.work-entry-title{
  font-size: 44px;
  font-weight: 900;
  font-family: "Trebuchet MS",Trebuchet MS,sans-serif;
  color: var(--blue-one);
  text-align: center;
}
