.tmpl-work {
	max-width: 1024px;
	margin: 5em auto;
	@media only screen and (max-width: 960px) {
		padding-left: 4%;
		padding-right: 4%;
		margin: 1.5em auto;
	}
}

.note {
  background-color: rgba(80, 119, 150, .10);
  padding: 2rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 10px solid var(--red-one);
  margin-bottom: 5rem;
  p {
    margin-top: 0;
    font-size: 18px;
  }
}

.tmpl-work-listing {
	max-width: 1010px;
	margin: 5em auto;
	@media only screen and (max-width: 960px) {
		padding-left: 4%;
		padding-right: 4%;
		margin: 1.5em auto 2em auto;
	}
}

.work-listing-item {
	margin-bottom: 8em;
	@media only screen and (max-width: 960px) {
		margin: 1.5em auto 4em auto;
	}
}

.work-listing-item > a {
	display: block;
	text-decoration: none;
}

.work-listing-item a:hover img {
	opacity: .7;
}

.work-listing-item a:hover h2 {
	color: var(--red-one);
}

.work-entry-title {
	font-size: 44px;
	font-weight: 900;
	font-family: "Trebuchet MS", Trebuchet MS, sans-serif;
	color: var(--blue-one);
	text-align: center;
	@media only screen and (max-width: 960px) {
		font-size: 28px;
	}
}
