---
title: About
navtitle: About
navorder: 5
tags:
  - nav
layout: layouts/page.njk
permalink: /about/
templateClass: tmpl-about
---


<div class="floating-box__wrapper">
  <div class="floating-box">
      <h2>Matt Steele</h2>
      <h3>Web Developer</h3>
    <img src="/assets/images/avatar.png" alt="Matt Steele">
  </div><!-- floating-box -->
</div> <!-- floating-box__wrapper -->


<div class="about-content__wrapper">
  <p>I build web applications in JavaScript-based frameworks like Vue, Angular &amp; Node. Much of my work is design prototyping; iterating on design solutions based on usability testing.</p>

 <p> My work is driven by <a href="https://www.interaction-design.org/literature/topics/ux-design">User Experience (UX)</a>,  <a href="https://www.invisionapp.com/inside-design/guide-to-design-systems/">Design Systems</a> &amp; <a href="https://www.ideou.com/pages/design-thinking">Design Thinking</a>.</p>

  <p>I currently work as a Design Technologist at Charter Communications in Denver, Colorado.</p>

  <p>You can reach me at <a href="mailto:matt@mattsteele.dev">matt@mattsteele.dev</a></p>


  <div class="signature-block">
    <img src="/assets/images/mattsteele-signature.png" alt="Matt Steele Signature">
    <h2>Matt Steele</h2>
  </div><!-- .signature-block -->
</div><!-- .about-content__wrapper -->
