---
title: About
navtitle: About
navorder: 5
tags:
  - nav
layout: layouts/page.njk
permalink: /about/
templateClass: tmpl-about
---


<div class="floating-box__wrapper">
  <div class="floating-box">
      <div class="floating-box-text">
          <h2>Matt Steele</h2>
          <h3>Web Developer</h3>
      </div><!-- floating-box-text -->
  </div><!-- floating-box -->
  <div class="floating-box-image">
      <img src="/assets/images/avatar.png" alt="Matt Steele">
  </div> <!-- floating-box-image -->
</div> <!-- floating-box__wrapper -->
<br />

<p>Hi, I'm Matt Steele. I partner with companies &amp; designers to build user-focused web applications. My work in design &amp; development is driven by User Experience (UX) &amp; <a href="https://www.ideou.com/pages/design-thinking">Design Thinking</a>.</p>

<p>I currently work as a Design Technologist at Charter Communications in Denver, Colorado.</p>

<p>You can reach me at <a href="mailto:matt@mattsteele.dev">matt@mattsteele.dev</a></p>


<div class="signature-block">
  <img src="/assets/images/mattsteele-signature.png" alt="Matt Steele Signature">
  <h2>Matt Steele</h2>
</div><!-- .signature-block -->
