---
title: About
navtitle: About
navorder: 5
tags:
  - nav
layout: layouts/page.njk
permalink: /about/
templateClass: tmpl-about
---


<div class="floating-box__wrapper">
  <div class="floating-box">
      <h2>Matt Steele</h2>
      <h3>Software Engineer</h3>
    <img src="/assets/images/avatar.png" alt="Matt Steele">
  </div><!-- floating-box -->
</div> <!-- floating-box__wrapper -->


<div class="about-content__wrapper">
  <p>I build &amp; maintain systems for designers &amp; developers. Much of my work is in component libraries, tokens, application prototyping, &amp; proof-of-concept work.</p>

 <p>My work is driven by <a href="https://www.interaction-design.org/literature/topics/ux-design">User Experience (UX)</a>,  <a href="https://www.invisionapp.com/inside-design/guide-to-design-systems/">Design Systems</a> &amp; <a href="https://www.ideou.com/pages/design-thinking">Design Thinking</a>.</p>

  <p>I currently work as a Senior Software Engineer at Charter Communications in Denver, Colorado.</p>

  <p>You can reach me <a href="mailto:mattsteele@outlook.com">here</a>.</p>


  <div class="signature-block">
    <img src="/assets/images/mattsteele-signature.png" alt="Matt Steele Signature">
    <h2>Matt Steele</h2>
  </div><!-- .signature-block -->
</div><!-- .about-content__wrapper -->
