---
title: Articles
navtitle: Articles
navorder: 1
tags:
  - nav
layout: layouts/base.njk
permalink: /posts/
templateClass: tmpl-posts
---

<h1>Articles Listing</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
