---
title: Articles
navtitle: Articles
navorder: 3
layout: layouts/base.njk
permalink: /posts/
templateClass: tmpl-post-listing
---
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
