---
title: Testimonials
navtitle: Testimonials
navorder: 4
tags:
- nav
layout: layouts/base.njk
permalink: /testimonials/
templateClass: tmpl-testimonials
---

<div class="testimonial-wrapper testimonial-even group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">

</div> <!-- testimonial-photo -->
<div class="testimonial-words">


> I have had the pleasure of working with Matt on several different projects for clients ranging in industries. From well thought out strategies, to custom user experience solutions, he goes beyond the canned templates to craft unique &amp; easy to use websites from the ground up.

> Matt not only develops custom &amp; elegant web design solutions, he is a pleasure to work with. His customer service exceeds expectations &amp; his ability to communicate complex issues in layman’s terms is uncanny.

<cite>&#8212; Natalie Clark, Owner<br> <a target="_blank" href="https://thecollaborativedesign.com/">The Collaborative Design <span class="fa fa-external-link"></span></a></cite>
</blockquote>

</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-odd group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL2NsaW50X3dpbGxpYW1zLTE1MHgxNTAuanBn?w=150&h=150&fit=crop&s=2bb5ad54d2f08f2ba0f113ab3562cf88" alt="Clint Williams" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>Matt will follow through, show up, and make your company (and work), better.</p>

<p>When I first started working with Matt, it was clear that we had a talented individual on our team. His investment in each project was 100%, from taking instruction to asking key questions that made each aspect of the work even better. It's the rare person that takes on a project like he owns the company, and Matt did just that, everytime.</p>
</span></p>
<cite>&#8212; Clint Williams, Co-Founder/Operations<br> <a target="_blank" href="https://clover.partners/">Clover Partners <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-even group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL2hheWxleV93YWxkby0xNTB4MTUwLmpwZw==?w=150&h=150&fit=crop&s=a69b228cb9a8d152981e99e5186be148" alt="Hayley Waldo" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>Matt Steele is an exceptional developer. I have loved working side by side with Matt on several projects, particularly the Fly Brothers website we worked on while we were both at Clover Partners. The website won an ADDY Award (2017) and I have Matt to thank for making it look beautiful and work seamlessly.</p>

<p>He is passionate about all of his projects and goes above and beyond to make sure everything is working the best way for the user. As a designer, it's always a pleasure to work with a developer that communicates effectively and is as professional as Matt is.</p>
</span></p>
<cite>&#8212; Hayley Waldo, Designer/Photographer<br> <a target="_blank" href="http://hayleywaldo.com/">Hayley Waldo Design <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-odd group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL2plcmVteXNhbmNoZXotMTUweDE1MC0xNTA0MzkxNjc1LmpwZw==?w=150&h=150&fit=crop&s=39cfd501e0eab7362d72e63bfff91144" alt="Jeremy Sanchez" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>Matt is a fantastic developer with a keen ability to navigate complex project requirements. His ability to work under changing circumstances &amp; tight deadlines sets him apart from others in his field. I look forward to working with Matt again in the future!</p>
</span></p>
<cite>&#8212; Jeremy Sanchez, Co-Founder/Chief Architect<br> <a target="_blank" href="https://clover.partners/">Clover Partners <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-even group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL2JyYW5kaS1rb3NraWUtMTUweDE1MC5qcGc=?w=150&h=150&fit=crop&s=35ecd14b8748137a00233138025105fd" alt="Brandi Koskie" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>I have thoroughly enjoyed being able to work with Matt. I knew he was the guy for us when he was still contracting and not yet full-time. He was so thoughtful about our process and generous with his ideas; something a freelancer typically guards closely.</p>

<p>Matt was a team player from the start and never showed anything less. He’s meticulous in his process and approach. I’d jump at the chance to work with him again in the future. He’s an all-around good guy and we’ve been fortunate to have him on our team at Clover Partners.</p>
</span></p>
<cite>&#8212; Brandi Koskie, Senior Content Strategist and Web Copywriter<br/><a target="_blank" href="https://banterstrategy.com/">Banter Strategy <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-odd group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL2pvbmxhbWJlcnQtMTUweDE1MC5qcGc=?w=150&h=150&fit=crop&s=fa85e850717d6da28ef37888d1edf6a0" alt="Jon Lambert" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>I have learned a lot about user experience &amp; functionality working with Matt. He is driven to produce beautiful, purposeful websites that deliver results. His communication &amp; professionalism make him a pleasure to work with &amp; his websites prove his expertise.</p>
</span></p>
<cite>&#8212; Jon Lambert, Art Director<br> <a target="_blank" href="http://jonlambert.com/">jonlambert.com <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-even group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL2hhbGV5Z29sZHN0ZWluLTE1MHgxNTAucG5n?w=150&h=150&fit=crop&s=0abe77331ee10a460cf2052f4085a274" alt="Haley Goldstein" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>Matt's knowledge &amp; expertise about web development &amp; user experience has made me a better web designer. He recognizes good design &amp; delivers the best visual &amp; user experience possible. He is professional, eloquent &amp; an absolute joy to work with.</p>
</span></p>
<cite>&#8212; Haley Goldstein, Art Director & Designer<br> <a target="_blank" href="http://haleygoldstein.com/">haleygoldstein.com <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-odd group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL3NzY3Jpdi0xNTB4MTUwLmpwZw==?w=150&h=150&fit=crop&s=200520685fe2bf2cdc9e7cc4317c62de" alt="Scott Scrivner" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>As a designer, it’s always a gift to have a developer who can easily cross disciplines and offer valuable input and skill in making a project seamless. Matt has been this and so much more for our team. Even while contracting with us, he quickly became part of the team—investing whole-heartedly in the work.</p>

<p>Matt has been the ultimate team player, willing to put in more than expected on projects and consistently showing expertise and attention to detail. I would absolutely look forward to the chance to work with Matt again in the future.</p>
</span></p>
<cite>&#8212; Scott Scrivner, Co-Founder & Creative Director<br> <a target="_blank" href="https://clover.partners/">Clover Partners <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->


</div><!-- testimonial-wrapper group -->
<div class="testimonial-wrapper testimonial-even group">
<div class="content-wrapper mobile-wrapper group">
<div class="testimonial-photo">
<img src="/img/asset/bWFpbi9pbWcvdGVzdGltb25pYWwtaW1hZ2VzL2NyYWlnZnJlZW1hbi0xNTB4MTUwLmpwZw==?w=150&h=150&fit=crop&s=d8840a76b8549b33354b5f824b02ec2e" alt="Craig Freeman" class="attachment-testimonial-photo size-testimonial-photo"/>
</div> <!-- testimonial-photo -->
<div class="testimonial-words">
<blockquote>
<p><span itemprop="author"><p>I’ve had the pleasure of working with Matt for the last few years &amp; have watched him take on several new roles with great enthusiasm. Matt has the experience to accurately assess client needs &amp; project scope.</p>

<p>Combined with the technical ability to efficiently construct a reliable site &amp; the drive to pick up any new skills he needs to get the job done, Matt is the guy you want on your team.</p>
</span></p>
<cite>&#8212; Craig Freeman, Front-End Engineer<br> <a target="_blank" href="http://craigfreeman.net/">craigfreeman.net <span class="fa fa-external-link"></span></a></cite>
</blockquote>
</div> <!-- testimonial-words -->
</div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper group -->
