{#
uncomment to add it back to the nav
---
title: Testimonials
navtitle: Testimonials
navorder: 4
tags:
- nav
layout: layouts/base.njk
permalink: /testimonials/
templateClass: tmpl-testimonials
---  #}


<div class="testimonial-wrapper testimonial-even group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/natalieclark-150x150.jpg" alt="Natalie Clark">
    </div><!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"></span></p><p>I have had the pleasure of working with Matt on several different projects for clients ranging in industries. From well thought out strategies, to custom user experience solutions, he goes beyond the canned templates to craft unique &amp; easy to use websites from the ground up.</p>

        <p>Matt not only develops custom &amp; elegant web design solutions, he is a pleasure to work with. His customer service exceeds expectations &amp; his ability to communicate complex issues in layman’s terms</p>

        <cite>— Natalie Clark, Owner<br> <a target="_blank" href="https://thecollaborativedesign.com/">The Collaborative Design <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div><!-- testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-even group -->


<div class="testimonial-wrapper testimonial-odd group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/clintwilliams-150x150.jpg" alt="Clint Williams"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author">
        <p>Matt's investment in each project is 100%. He asks key questions that make each aspect of our work even better. He's a type of rare person that takes on a project like he owns the company, and Matt does just that, everytime.</p>
        </span></p>
        <cite>&#8212; Clint Williams, Co-Founder/Operations<br> <a target="_blank" href="https://clover.partners/">Clover Partners <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div><!-- testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-odd group -->



<div class="testimonial-wrapper testimonial-even group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/hayleywaldo-150x150.jpg" alt="Hayley Waldo"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"><p>Matt Steele is an exceptional developer. I have loved working side by side with Matt on several projects, particularly the Fly Brothers website we worked on while we were both at Clover Partners. The website won an ADDY Award (2017) and I have Matt to thank for making it look beautiful and work seamlessly.</p>
        <p>He is passionate about all of his projects and goes above and beyond to make sure everything is working the best way for the user. As a designer, it's always a pleasure to work with a developer that communicates effectively and is as professional as Matt is.</p>
        </span></p>
        <cite>&#8212; Hayley Waldo, Designer/Photographer<br> <a target="_blank" href="http://hayleywaldo.com/">Hayley Waldo Design <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div><!-- testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-even group -->


<div class="testimonial-wrapper testimonial-odd group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/jeremysanchez-150x150.jpg" alt="Jeremy Sanchez"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"><p>Matt is a fantastic developer with a keen ability to navigate complex project requirements. His ability to work under changing circumstances &amp; tight deadlines sets him apart from others in his field. I look forward to working with Matt again in the future!</p>
        </span></p>
        <cite>&#8212; Jeremy Sanchez, Co-Founder/Chief Architect<br> <a target="_blank" href="https://clover.partners/">Clover Partners <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div><!--testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-odd group -->


<div class="testimonial-wrapper testimonial-even group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/brandikoskie-150x150.jpg" alt="Brandi Koskie"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"><p>I have thoroughly enjoyed being able to work with Matt. I knew he was the guy for us when he was still contracting and not yet full-time. He was so thoughtful about our process and generous with his ideas; something a freelancer typically guards closely.</p>

        <p>Matt was a team player from the start and never showed anything less. He’s meticulous in his process and approach. I’d jump at the chance to work with him again in the future. He’s an all-around good guy and we’ve been fortunate to have him on our team at Clover Partners.</p>
        </span></p>
        <cite>&#8212; Brandi Koskie, Senior Content Strategist and Web Copywriter<br/><a target="_blank" href="https://banterstrategy.com/">Banter Strategy <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div> <!--testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-even group -->


<div class="testimonial-wrapper testimonial-odd group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/jonlambert-150x150.jpg" alt="Jon Lambert"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"><p>I have learned a lot about user experience &amp; functionality working with Matt. He is driven to produce beautiful, purposeful websites that deliver results. His communication &amp; professionalism make him a pleasure to work with &amp; his websites prove his expertise.</p>
        </span></p>
        <cite>&#8212; Jon Lambert, Art Director<br> <a target="_blank" href="http://jonlambert.com/">jonlambert.com <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div> <!--testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-odd group -->


<div class="testimonial-wrapper testimonial-even group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/haleygoldstein-150x150.png" alt="Haley Goldstein"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"><p>Matt's knowledge &amp; expertise about web development &amp; user experience has made me a better web designer. He recognizes good design &amp; delivers the best visual &amp; user experience possible. He is professional, eloquent &amp; an absolute joy to work with.</p>
        </span></p>
        <cite>&#8212; Haley Goldstein, Art Director & Designer<br> <a target="_blank" href="http://haleygoldstein.com/">haleygoldstein.com <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div> <!-- testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-even group -->



<div class="testimonial-wrapper testimonial-odd group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/scottscrivner-150x150.jpg" alt="Scott Scrivner"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"><p>As a designer, it’s always a gift to have a developer who can easily cross disciplines and offer valuable input and skill in making a project seamless. Matt has been this and so much more for our team. Even while contracting with us, he quickly became part of the team—investing whole-heartedly in the work.</p>

        <p>Matt has been the ultimate team player, willing to put in more than expected on projects and consistently showing expertise and attention to detail. I would absolutely look forward to the chance to work with Matt again in the future.</p>
        </span></p>
        <cite>&#8212; Scott Scrivner, Co-Founder &amp; Creative Director<br> <a target="_blank" href="https://clover.partners/">Clover Partners <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div> <!-- testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-odd group -->


<div class="testimonial-wrapper testimonial-even group">
  <div class="content-wrapper mobile-wrapper group">
    <div class="testimonial-photo">
      <img src="/assets/images/testimonial-images/craigfreeman-150x150.jpg" alt="Craig Freeman"/>
    </div> <!-- testimonial-photo -->
    <div class="testimonial-words">
      <blockquote>
        <p><span itemprop="author"><p>I’ve had the pleasure of working with Matt for the last few years &amp; have watched him take on several new roles with great enthusiasm. Matt has the experience to accurately assess client needs &amp; project scope.</p>

        <p>Combined with the technical ability to efficiently construct a reliable site &amp; the drive to pick up any new skills he needs to get the job done, Matt is the guy you want on your team.</p>
        </span></p>
        <cite>&#8212; Craig Freeman, Front-End Engineer<br> <a target="_blank" href="http://craigfreeman.net/">craigfreeman.net <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 576 512"><path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"/></svg></a></cite>
      </blockquote>
    </div> <!-- testimonial-words -->
  </div><!-- content-wrapper mobile-wrapper group -->
</div><!-- testimonial-wrapper testimonial-even group -->
