{#
uncomment to add it back to the nav
---
title: Work
navtitle: Work
navorder: 2
tags:
  - nav
layout: layouts/base.njk
permalink: /work/
templateClass: tmpl-work-listing
excludeFromSitemap: true
---  #}
{% set worklist = collections.work %}
{% include "worklist.njk" %}
