---
layout: layouts/home.njk
tags:
  - nav
navtitle: Work
permalink: /work/
templateClass: tmpl-work-listing
---

<h1>Work Listing</h1>

{% set worklist = collections.work %}
{% include "worklist.njk" %}
