---
navorder: 1
tags:
  - nav
layout: layouts/home.njk
---

<div class="hero home-wrapper">
  <div class="fade-in">
    <h1>Matt Steele</h1>
  </div>
  <p>A Denver, Colorado-based Software Engineer working in JavaScript, Vue, Node &amp; Angular.</p>
</div>
