---
navorder: 1
tags:
  - nav
layout: layouts/home.njk
---

<div class="hero">
  <div class="fade-in">
    <h1>Matt Steele</h1>
  </div>
  <p>I'm a Web Developer in Denver, Colorado; working in JavaScript, Node, Angular, &amp; Vue.</p>
</div>
